In [1]:
import os
import sqlite3
import pandas as pd

In [2]:
os.chdir('...')

In [3]:
# Assuming errors will be encountered, this will allow to code to continue running without errors
try:
    os.remove('airline2.db')
except OSError:
        pass

In [4]:
conn = sqlite3.connect('airline2.db')

In [5]:
airports = pd.read_csv("./Block 3/airports.csv")
carriers = pd.read_csv("./Block 3/carriers.csv")
planes = pd.read_csv("./Block 3/plane-data.csv")

airports.to_sql('airports', con = conn, index = False)
carriers.to_sql('carriers', con = conn, index = False)
planes.to_sql('planes', con = conn, index = False)

In [6]:
c = conn.cursor()

In [7]:
# The creation of the table helps with the warning message about the mixed data types
c.execute('''
CREATE TABLE ontime (
 Year int,
 Month int,
 DayofMonth int,
 DayofWeek int,
 DepTime int,
 CRSDepTime int,
 ArrTime int,
 CRSArrTime int,
 UniqueCarrier varchar(5),
 FlightNum int,
 TailNum varchar(8),
 ActualElapsedTime int,
 CRSElapsedTime int,
 AirTime int,
 ArrDelay int,
 DepDelay int,
 Origin varchar(3),
 Dest varchar(3),
 Distance int,
 TaxiIn int,
 TaxiOut int,
 Cancelled int,
 CancellationCode varchar(1),
 Diverted varchar(1),
 CarrierDelay int,
 WeatherDelay int,
 NASDelay int,
 SecurityDelay int,
 LateAircraftDelay int
)
''')
conn.commit()

In [8]:
# sqlite_master is a built in SQLite metadata table
c.execute('''
SELECT name
FROM sqlite_master
WHERE type = 'table'
''').fetchall()

[('airports',), ('carriers',), ('planes',), ('ontime',)]

In [9]:
for year in range(2000, 2006):
    filename = "./Block 3/"+str(year)+".csv"
    print('Processing:',year)
    ontime = pd.read_csv(filename, dtype = {'Cancelled':int}) # In order to change the data type to integers
    ontime.to_sql('ontime', con = conn, if_exists = 'append', index = False)

conn.commit()

Processing: 2000
Processing: 2001
Processing: 2002
Processing: 2003

C:\Users\Victor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Processing: 2004
Processing: 2005

In [12]:
# Query 1
c.execute('''
SELECT model AS model, AVG(ontime.DepDelay) AS avg_delay
FROM planes JOIN ontime ON planes.tailnum=ontime.TailNum
WHERE ontime.Cancelled = 0 AND ontime.Diverted = 0 AND ontime.DepDelay > 0
GROUP BY model
ORDER BY avg_delay
''')

x = c.fetchall()
print(x[0][0], "has the lowest associated average departure delay at", round(x[0][1],3))

737-2Y5 has the lowest associated average departure delay at 7.022

In [18]:
x[0][0]

'737-2Y5'

In [16]:
round(x[0][1],3)

7.022

In [20]:
# To show the list
x[:]

[('737-2Y5', 7.022026431718062),
 ('737-282', 8.433566433566433),
 ('737-230', 10.458646616541353),
 ('737-282C', 11.765765765765765),
 ('767-324', 15.788051209103841),
 ('767-432ER', 15.793831536083252),
 ('757-26D', 15.942548158161541),
 ('182A', 17.10326086956522),
 ('A318-111', 17.147109826589595),
 ('767-3P6', 17.385817307692307),
 ('757-212', 17.51070110701107),
 ('777-232', 17.521508794236066),
 ('737-832', 17.69418506410021),
 ('757-232', 17.774470060792478),
 ('767-332', 17.81414698606352),
 ('A319-111', 18.67868088758122),
 ('DA 20-A1', 20.041798606713108),
 ('767-3CB', 20.716778523489932),
 ('EMB-120', 20.798148274218804),
 ('757-351', 21.41301447699985),
 ('EMB-120ER', 21.45844681026657),
 ('A319-132', 21.631674801486124),
 ('767-224', 21.835771105978957),
 ('A321-211', 21.986651835372637),
 ('MD-90-30', 22.20332326283988),
 ('A320-214', 22.524075366364272),
 ('747-451', 22.589041095890412),
 ('737-3S3', 22.61637406570485),
 ('767-33A', 22.61645218268988),
 ('777-224', 22.744791666666668),
 ('767-424ER', 22.750885478158207),
 ('A319-114', 22.781221761643167),
 ('737-924', 22.79251220835594),
 ('737-33A', 22.829516539440203),
 ('A319-112', 22.950141588978333),
 ('MD-88', 23.367552422747004),
 ('757-231', 23.47055785123967),
 ('737-3B7', 23.589323787727636),
 ('737-4B7', 23.867225580035093),
 ('737-3G7', 23.872945638432363),
 ('737-401', 23.94707651814251),
 ('737-790', 24.13783269961977),
 ('757-2Q8', 24.277864685177942),
 ('737-824', 24.464907057066686),
 ('777-222', 24.544115253133647),
 ('737-301', 24.780416361544095),
 ('737-890', 25.22800495662949),
 ('A320-231', 25.310452209464493),
 ('737-990', 25.408651865415425),
 ('757-324', 25.46209454960525),
 ('757-222', 25.589056319742976),
 ('757-224', 25.626775963272248),
 ('737-724', 25.668456849002613),
 ('767-3G5', 25.873511060692003),
 ('757-2G7', 25.89070638764507),
 ('A320-212', 25.984554333103627),
 ('G-IV', 26.06338028169014),
 ('757-2S7', 26.092761839597284),
 ('A320-232', 26.390219274943462),
 ('S-50A', 26.41891229789319),
 ('737-490', 26.49701545270283),
 ('A109E', 26.573926868044516),
 ('757-225', 26.796749521988527),
 ('737-3Y0', 26.81434842883549),
 ('A320-211', 26.978851252765182),
 ('737-3T5', 27.01008492569002),
 ('737-4Q8', 27.076104456026414),
 ('757-251', 27.316358057573886),
 ('PA-31-350', 27.357354811360747),
 ('KITFOX IV', 27.79584775086505),
 ('737-3H4', 27.836844895177403),
 ('737-317', 27.84160230396649),
 ('737-7H4', 27.867954455333372),
 ('550', 27.897911832946637),
 ('767-223', 27.935908516720964),
 ('PA-32R-300', 27.944015444015445),
 ('737-3L9', 28.05550883095038),
 ('737-3TO', 28.176935112163562),
 ('206B', 28.228699551569505),
 ('AS 355F1', 28.39896373056995),
 ('FALCON-XP', 28.41203007518797),
 ('DC-9-41', 28.422613008679967),
 ('DC-9-31', 28.52325687989293),
 ('747-2B5F', 28.524113475177305),
 ('S55A', 28.580810546875),
 ('737-4S3', 28.703560830860535),
 ('182P', 28.782159624413147),
 ('737-3A4', 28.78759374602771),
 ('737-3Q8', 28.927673649393604),
 ('767-322', 28.95243841126194),
 ('210-5(205)', 28.972196478220575),
 ('OTTER DHC-3', 28.995287958115185),
 ('DC-9-82(MD-82)', 29.006965247152856),
 ('DC-9-51', 29.038647685990508),
 ('767-323', 29.155552484278903),
 ('737-8FH', 29.303867403314918),
 ('FALCON XP', 29.372310969116082),
 ('VANS AIRCRAFT RV6', 29.392702832453192),
 ('172M', 29.467719589914104),
 ('DC-9-32', 29.478990054680906),
 ('T210N', 29.49512411347518),
 ('757-223', 29.519901198188634),
 ('65-A90', 29.744082840236686),
 ('150', 29.75025746652935),
 (None, 29.830170964608644),
 ('HST-550', 30.174719375305028),
 ('421C', 30.308364544319602),
 ('737-76N', 30.309683442247305),
 ('DC-9-83(MD-83)', 30.34742386537367),
 ('A-1B', 30.34775641025641),
 ('PA-28-180', 30.541469194312796),
 ('MD 83', 30.5835734870317),
 ('S-76A', 30.690036900369005),
 ('F85P-1', 30.762005277044857),
 ('737-7BD', 31.033116036505866),
 ('172E', 31.088724584103513),
 ('EMB-135KL', 31.374988968317005),
 ('E-90', 31.42578125),
 ('PA-32RT-300', 31.479768786127167),
 ('60', 31.49671977507029),
 ('CL-600-2B19', 31.620927265615574),
 ('A319-131', 31.73854002631749),
 ('C90', 31.83309489747258),
 ('737-524', 31.943239017501387),
 ('737-73A', 31.98709677419355),
 ('690A', 32.0),
 ('747-422', 32.005108556832695),
 ('EMB-145EP', 32.116699083078636),
 ('EMB-145XR', 32.139281493354055),
 ('EMB-145LR', 32.40545172112408),
 ('EMB-145', 32.417014875480525),
 ('DC-7BF', 32.52611218568666),
 ('1121', 33.29087452471483),
 ('737-322', 33.846681659629155),
 ('767-2B7', 33.925414364640886),
 ('SAAB 340B', 33.93355119825708),
 ('737-522', 34.37026589988936),
 ('CL-600-2C10', 34.6212598971544),
 ('EMB-135ER', 35.417502004811546),
 ('757-33N', 35.712418300653596),
 ('EMB-135LR', 36.86548136863838),
 ('ATR 72-212', 38.26736549633746),
 ('ATR-72-212', 38.699194724494326),
 ('717-200', 38.737104772534146),
 ('ERJ 190-100 IGW', 41.723958333333336),
 ('A330-223', 55.8)]

In [21]:
# Query 2
c.execute('''
SELECT airports.city AS city, COUNT(*) AS total
FROM airports JOIN ontime ON ontime.dest = airports.iata
WHERE ontime.Cancelled = 0
GROUP BY airports.city
ORDER BY total DESC
''')

x = c.fetchall()
print(x[0][0],"has the highest number of inbound flights(excluding canceled flights) amounting to", x[0][1])

Chicago has the highest number of inbound flights(excluding canceled flights) at 2388365

In [22]:
x[:5]

[('Chicago', 2388365),
 ('Atlanta', 1912370),
 ('Dallas-Fort Worth', 1781833),
 ('Houston', 1304407),
 ('Los Angeles', 1279514)]

In [23]:
# Query 3
c.execute('''
SELECT carriers.Description AS carrier, COUNT(*) AS total
FROM carriers JOIN ontime ON ontime.UniqueCarrier = carriers.code
WHERE ontime.Cancelled = 1
GROUP BY carriers.Description
ORDER BY total DESC
''')

x = c.fetchall()
print(x[0][0], "has the highest number of cancelled flights amounting to", x[0][1])

Delta Air Lines Inc. has the highest number of cancelled flights 107851

In [24]:
x[:5]

[('Delta Air Lines Inc.', 107851),
 ('American Airlines Inc.', 105762),
 ('United Air Lines Inc.', 102066),
 ('American Eagle Airlines Inc.', 96365),
 ('US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.)',
  85866)]

In [27]:
# Query 4(Long version)
c.execute('''
SELECT
q1.carrier AS carrier, (CAST(q1.numerator AS FLOAT)/ CAST(q2.denominator AS FLOAT)) AS ratio
FROM
 (SELECT carriers.Description AS carrier, COUNT(*) AS numerator
  FROM carriers JOIN ontime ON ontime.UniqueCarrier = carriers.Code
  WHERE ontime.Cancelled = 1
  GROUP BY carriers.Description
  )
  AS q1 JOIN
  (SELECT carriers.Description AS carrier, COUNT(*) AS denominator
  FROM carriers JOIN ontime ON ontime.UniqueCarrier = carriers.code
  GROUP BY carriers.Description
  ) 
  AS q2 USING (carrier)
  ORDER BY ratio DESC
''')

x = c.fetchall()
print(x[0][0], "has the highest number of canceled flights, relative to their total number of flights", round(x[0][1],3))

American Eagle Airlines Inc. has the highest number of canceled flights, relative to their total number of flights 0.041

In [28]:
x[:5]

[('American Eagle Airlines Inc.', 0.04059832660661774),
 ('Comair Inc.', 0.03310794068502934),
 ('Atlantic Southeast Airlines', 0.032601899162408715),
 ('Independence Air', 0.03199782987301006),
 ('United Air Lines Inc.', 0.027924193799912997)]

In [30]:
# Query 4(Short version)
c.execute('''
SELECT carriers.Description, AVG(Cancelled) AS Ratio
FROM carriers INNER JOIN ontime ON ontime.UniqueCarrier = carriers.Code
GROUP BY carriers.Description
ORDER BY Ratio DESC
''')

x= c.fetchall()
print(x[0][0], "has the highest number of canceled flights, relative to their total flights of", round(x[0][1],3))

American Eagle Airlines Inc. has the highest number of canceled flights, relative to their total flights 0.041

In [31]:
x[:5]

[('American Eagle Airlines Inc.', 0.04059832660661774),
 ('Comair Inc.', 0.03310794068502934),
 ('Atlantic Southeast Airlines', 0.032601899162408715),
 ('Independence Air', 0.03199782987301006),
 ('United Air Lines Inc.', 0.027924193799912997)]

In [32]:
conn.close()